#Cualquier cosa que queramos que se ignore la ponemos en el directorio ./ignorar/
ignorar/*
desktop.ini
.vs/*
buildscripts/Linux/build.log
buildscripts/Windows/build.log
AerotriLibs/lib
AerotriLibs/lib/*
docs/Maderas_Frondosas.pdf
docs/DataSets/Espania/11-H-8(ed1974)_01.jpg
output/DataSets/*
output/DSclips/Various/*
output/DSvector/*
output/clientes/*
output/config/local/*
output/bin/common/config/local/*
output/bin/empty/*
output/bin/empty
output/bin/Win-amd64/Debug/*
output/bin/Win-amd64/Release/*
output/bin/Win-amd64/*d.*
output/bin/Win-amd64/*.pdb
output/bin/Linux-amd64/Release/*
output/bin/Linux-amd64/Debug/*
output/bin/Linux-amd64/3dCarvingd
output/bin/Linux-amd64/fconfigd
output/bin/Linux-amd64/tinsd
output/bin/Linux-arm/Release/*
#output/bin/Linux-aarch64/Release/*
VisualStudio/.vs/*
